
body    {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-weight: 300;
    line-height: 1.4;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #535353;
/*    background: #dfdfdf; */
}

.app    {
/*    background-color: green;*/
    margin: 0px;
    padding: 0px 0px 4px 0px;
    top: 0px;
    height: inherit;
    text-align: center;
}

#addproduct_save_container  {
/*    background-color: aqua;*/
    position: relative;
    top: 140px;
    bottom: 0px;
    margin-top: inherit;
    padding: 0px;
    margin: 0px;
}

.nav  {
    background-color: white;
    display: block;
    line-height: 50px;
    height: 50px;
}

nav {
     display: block;
    line-height: 30px;
    height: 30px;
}

#addproduct_save_btn   {
    background: #b83838;
    color: #fff;
    display: block;
    padding: 0px 10px;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
}


@media screen and (min-width: 768px)
{
    body {
        background: white;
        text-align: center;
    }
    
    #addproduct_save_btn {
        background: black;
    }
    
    .nav {
        display: black;
        line-height: 50px;
        height: 50px;
}
    
}













